{% extends '_base.html' %}


{% block content %}
<div class="p-3 mt-4">
  <div class="row">
    <div class="col">
      <div class="float-right mb-4">
        <a href="{% url 'add_product' %}" class="btn btn-success">Nouveau produit</a>
      </div>
    </div>
  </div>
  <div class="row">
    {% for product in products %}
    <div class="col-md-3">
      <div class="card">
        <img src="{{ product.logo.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Prix: <span class="badge badge-primary">{{ product.price }}</span> FCFA</p>
          <p class="card-text">Quantité en stock: <span class="badge badge-primary">{{ product.quantity }}</span></p>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-primary">Voir</a>
          <a href="{% url 'edit_product' product.id %}" class="btn btn-outline-warning">Modifier</a>
          <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-danger">Supprimer</a>
        </div>
      </div>
    </div>

    {% empty %}
    <p>Non produit trouvé</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}