{% extends '_base.html' %}


{% block content %}
<div class="p-3 mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
          <a class="btn btn-outline-primary" href="{% url 'all_products' %}">Annuler</a>
          <button class="btn btn-primary" type="submit">Valider</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}