<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Gestion Stock</title>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
    crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous">
  </script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Gestock</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
        class="fas fa-bars"></i></button>
    <!-- Navbar Search-->

    <!-- Navbar-->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <!-- <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a>
        </div>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <a class="nav-link" href="/">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Tableau de bord
            </a>
            <div class="sb-sidenav-menu-heading">Stock</div>
            <a class="nav-link" href="{% url 'all_products' %}">
              <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
              Produits
            </a>
            <a class="nav-link" href="{% url 'all_transactions' %}">
              <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
              Transactions
            </a>
          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Bienvenue:</div>
          M. {{ user.get_full_name }}
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          {% block content %}


          <h1 class="mt-4">Tableau de bord</h1>
          <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Tableau de bord</li>
          </ol> -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card bg-primary text-white mb-4">
                <div class="card-body">25</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <span class="small text-white stretched-link">Produits</span>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-warning text-white mb-4">
                <div class="card-body"> 25 FCFA</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <span class="small text-white stretched-link">Dépense</span>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-success text-white mb-4">
                <div class="card-body"> 2500 FCFA</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <span class="small text-white stretched-link">Revenu</span>

                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card bg-danger text-white mb-4">
                <div class="card-body">25 FCFA</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                  <span class="small text-white stretched-link">Chiffre d'affaires </span>

                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
              <i class="fas fa-table mr-1"></i>
              Dernieres transactions
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Produit</th>
                      <th>Type d'operation</th>
                      <th>Montant</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Produit</th>
                      <th>Type d'operation</th>
                      <th>Montant</th>
                      <th>Date</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>2011/04/25</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          {% endblock content %}
        </div>

      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Gestion stock 2021</div>
            <div>
              <a href="#">A propos</a>
              &middot;
              <a href="#">Contact</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/scripts.js' %}"></script>


  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>
</body>

</html>